In [30]:
import pandas as pd

from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

## PHASE 1

In [31]:
df = pd.read_csv('data/PHASE1_PATIENTS_SAMPLE.csv')
df.head()

,subject_id,gender,age_group,weight_range,idealweight_range,IMC_range,daysinICU,firstnutrition,avgdaily_Kcal_firstICU7days,avgdaily_KcalKg_firstICU7days,...,hyper_magnesium_days,hypo_magnesium_days,hyper_sodium_days,hypo_sodium_days,hypo_phosphor,max_ast,max_alt,max_alkaline,denouement,MV_stay
0,19865386,M,1,3,2,3,1,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,15980303,M,1,2,2,2,2,0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
2,17438496,M,2,2,2,3,1,0,0.0,0.0,...,0,0,0,0,3,0,2,0,0,0
3,13679248,F,3,2,2,2,1,0,0.0,0.0,...,0,0,2,0,0,0,0,0,0,0
4,15771722,M,5,2,2,3,1,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
for column in df.select_dtypes(include='object'):
    df[column] = df[column].astype('category').cat.codes

In [33]:
features = df.drop(columns = 'denouement')
target = df.denouement

In [34]:
def create_train(features: pd.DataFrame, target: pd.Series) -> tuple:
    x_train, x_test, y_train, y_test = train_test_split(features, target, test_size = 0.3, random_state = 42, stratify = target)
    
    x_smote, y_smote = x_train.drop(columns = 'subject_id'), y_train
    
    x_smote, y_smote = SMOTE(random_state = 42).fit_resample(x_smote, y_smote)
    
    pd.concat([pd.DataFrame(x_smote), pd.DataFrame(y_smote)], axis = 1).to_csv('data/TRAIN_SMOTE.csv', index = False)
    pd.concat([pd.DataFrame(x_train), pd.DataFrame(y_train)], axis = 1).to_csv('data/TRAIN.csv', index = False)
    pd.concat([pd.DataFrame(x_test), pd.DataFrame(y_test)], axis = 1).to_csv('data/TEST.csv', index = False)

In [35]:
create_train(features, target)